<% title @article.title %>

<% content_for :head_top do %>
	<meta charset="UTF-8">
	<meta name="description" content=<%= @article.subtitle %>>
	<meta name="keywords" content=<%= @article.keywords %>>
<% end %>
<% content_for :head_end do %>
<% end %>
<% content_for :body_top do %>
<% end %>
<% content_for :body_end do %>
<% end %>

<div class="container">
	<div class="jumbotron" id="show-article">
		<div class="row col-xs-12 post-title-show">
			<h2><%= @article.title %></h2>
			<h4><%= @article.subtitle %></h4>
			<h6>Published <%= l(@article.published_at, :format=>:article_date) %> <%= l(@article.published_at, :format=>:article_year) %></h6>
			<hr>
		</div>
		<div class="row">
			<%= image_tag(@article.featured_image.url, :alt => truncate(@article.title, limit: 20, :separator => ' ') + "image", class:"post-img-main-show") %>
			<p class="post-body"><%= @article.text.html_safe %><p>
		</div>
	</div>
</div>