<% title "The Official Site of Lacrosse in Hungary" %>

<% content_for :head_top do %>
	<meta charset="UTF-8">
	<meta name="description" content="The Hungarian Lacrosse Association is the national governing body for lacrosse in Hungary.  Our goal is to grow and develop lacrosse, in all its forms, in Hungary by providing programs that ensure opportunities exist for individuals to participate and excel in the sport of lacrosse.">
	<meta name="keywords" content="Hungary, Lacrosse, Association, News, Teams, Events, Sponsors">
<% end %>
<% content_for :head_end do %>
<% end %>
<% content_for :body_top do %>
	<div id="fb-root"></div> <!-- Facebook module -->
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script> <!-- end Facebook module -->	
<% end %>
<% content_for :body_end do %>
<% end %>


<div class="jumbotron header-full"> <!-- Header -->
	<div class="col-xs-12 col-md-5 col-md-offset-7">
		<h1 class="cursive secondary-color", id="main-title">Hungarian Lacrosse Association</h1>
	</div>
	<!-- Removed until login is required
	<%= render 'pages/welcome_buttons' unless user_signed_in? %> -->
</div>
<%= render "/articles/index.html.erb" %><!-- News -->
<%= render "/teams/index.html.erb" %><!-- Teams -->
<%= render "/events/index.html.erb" %><!-- Events -->
<div class="jumbotron center no-margin-top", id="sponsors"> <!-- Sponsors -->
	<h2 class="section-title">Support our Sponsors</h2>
	<div class="container-fluid">
		<div class="col-xs-12 jumbotron">
			<div class="row">
				<div class="col-lg-4">
						<%= link_to image_tag("heros-logo_1.gif", :alt => "Heros Lacrosse"), "http://www.heroslacrosse.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
				</div>
				<div class="col-lg-4">
						<%= link_to image_tag("sj-logo-yellow3.jpg", :alt => "Stan and Joe's"), "http://www.stanandjoessaloon.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
				</div>
				<div class="col-lg-4">
						<%= link_to image_tag("markedpromotions.png", :alt => "Marked Promotions"), "http://www.markedpromo.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
						<%= link_to image_tag("sanders_logo.jpg", :alt => "The Sanders Company"), "http://www.thesanderscompany.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
				</div>
				<div class="col-lg-4">
						<%= link_to image_tag("townetransport1.png", :alt => "Towne Transport"), "http://www.townetransport.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
				</div>
				<div class="col-lg-4">
						<%= link_to image_tag("bayarea3.png", :alt => "Bay Area Disposal"), "http://www.bayareadisposal.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
				</div>
			</div>
		</div>
	</div>
</div>	