<div class="jumbotron center header-full"> <!-- Header -->
	<h1 class="cursive secondary-color", id="main-title">Hungarian Lacrosse Association</h1>
	<!-- Removed until login is required
	<%= render 'pages/welcome_buttons' unless user_signed_in? %> -->
</div>
<div class="jumbotron center no-margin-top", id="news"> <!-- News -->
	<h2>News</h2>
</div>
<div class="jumbotron center no-margin-top", id="events"> <!-- Events -->
	<h2>Upcoming Events</h2>
</div>
<div class="jumbotron center no-margin-top", id="teams"> <!-- Teams -->
	<div class="container">
		<h2 class="title">Teams</h2>
			<div class="container center">
				<div class="row">
					<div class="col-lg-6">
						<!-- Ultimately want to do this dynamically from a database XXXX-->
							<%= link_to image_tag("budapestblaxlacrosse.png", :alt => "Budapest Blax"), "http://www.budapestblax.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
							<h3>Budapest Blax Lacrosse</h3>
					</div>
					<div class="col-lg-6">
						<%= link_to image_tag("blackberrieslacrosse.png", :alt => "Blackberries"), "http://www.blackberries.hu", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
						<h3>Budapest Blackberries Lacrosse</h3>
					</div>
				</div>
			</div>
	</div>	
</div>
<div class="jumbotron center no-margin-top", id="sponsors"> <!-- Sponsors -->
	<h2 class="title">Support our Sponsors</h2>
	<div class="container center">
		<div class="row">
			<div class="col-lg-4">
					<%= link_to image_tag("heros-logo_1.gif", :alt => "Heros Lacrosse"), "http://www.heroslacrosse.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
			</div>
			<div class="col-lg-4">
					<%= link_to image_tag("sj-logo-yellow3.jpg", :alt => "Stan and Joe's"), "http://www.stanandjoessaloon.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
			</div>
			<div class="col-lg-4">
					<%= link_to image_tag("markedpromotions.png", :alt => "Marked Promotions"), "http://www.markedpromo.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
					<%= link_to image_tag("sanders_logo.jpg", :alt => "The Sanders Company"), "http://www.thesanderscompany.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
			</div>
			<div class="col-lg-4">
					<%= link_to image_tag("townetransport1.png", :alt => "Towne Transport"), "http://www.townetransport.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
			</div>
			<div class="col-lg-4">
					<%= link_to image_tag("bayarea3.png", :alt => "Bay Area Disposal"), "http://www.bayareadisposal.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
			</div>
		</div>
	</div>
</div>	
<!-- <div class="jumbotron center no-margin-top", id="contact">  --><!-- Contact Us -->
	<!-- <h2>Contact Us</h2>
	<h3>Want to Join? Interested in a Sponsorship? Drop us a line.</h3>
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<%= render 'contacts/new' %>
			</div>	
			<div class="col-lg-6">
				<h4>Map</h4>
			</div>	
		</div>	
	</div>	
</div> -->