<div class="jumbotron center header-full"> <!-- Header -->
	<h1 class="cursive secondary-color", id="main-title">Hungarian Lacrosse Association</h1>
	<!-- Removed until login is required
	<%= render 'pages/welcome_buttons' unless user_signed_in? %> -->
</div>
<div class="jumbotron center no-margin-top", id="news"> <!-- News -->
	<div class="row" id="social-news">	<!-- Social News Feed -->
		<div class="container-fluid">
			<div class="col-xs-12 col-md-4 social-feed">
				<div class="jumbotron">
					<h2>Twitter Feed</h2>
					<h4>tweets</h4>
					<h4>tweets</h4>
					<h4>tweets</h4>
					<h4>tweets</h4>
					<h4>tweets</h4>
				</div>	
			</div>
			<div class="col-xs-12 col-md-4 social-feed">
				<div class="jumbotron">
					<h2>Facebook Feed</h2>
					<h4>Facebook Posts</h4>
					<h4>Facebook Posts</h4>
					<h4>Facebook Posts</h4>
					<h4>Facebook Posts</h4>
					<h4>Facebook Posts</h4>
				</div>	
			</div>
			<div class="col-xs-12 col-md-4 social-feed">
				<div class="jumbotron">
					<h2>Instagram Feed</h2>
					<h4>Instagram Posts</h4>
					<h4>Instagram Posts</h4>
					<h4>Instagram Posts</h4>
					<h4>Instagram Posts</h4>
					<h4>Instagram Posts</h4>
				</div>	
			</div>
		</div>	
	</div>
	<div class="row" id="news-feed"> <!-- News Posts -->
		<!-- This will eventually be dynamically populated from a post database. In the meantime, I have it hardcoded-->
		<div class="container-fluid">
			<div class="col-xs-12 news-item">
				<div class="jumbotron col-xs-12">
					<div class="post-header">
						<div class="col-xs-1">
							<div class="post-date">
								<p>5 Jul </br>2015</p>
							</div>
						</div>	
						<div class="col-xs-10 col-xs-offset-1 post-title">
							<h2>Hungary Lacrosse Teams with Israel Lacrosse for Training Camp and Scrimmage</h2><!-- New Coaching Staff Hired/First Training Camp a Success! -->
							<hr>
						</div>
					</div>
					<div class="col-xs-12 col-md-2">
						<%= image_tag("hungarycamp2014.jpg", :alt => "Hungary Training Camp", class:"post-img-main") %>
					</div>
					<div class="col-xs-12 col-md-10 left">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et nunc ut nulla mattis commodo. Nulla in sem libero. Fusce sit amet purus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque nec arcu consequat, euismod dui vitae, euismod tellus. Aenean velit odio, ultrices ut sodales sed, viverra nec nibh. Morbi a scelerisque mi. Pellentesque ante eros, convallis nec placerat non, luctus et lorem. Maecenas finibus elementum lorem, eget posuere metus tincidunt in. Praesent dignissim ipsum eros, sit amet tempor lorem interdum sit amet.<p>
					</div>
				</div>	
			</div>	
			<div class="col-xs-12 news-item">
				<div class="jumbotron col-xs-12">
					<div class="post-header">
						<div class="col-xs-1">
							<div class="post-date">
								<p>5 May </br>2015</p>
							</div>
						</div>	
						<div class="col-xs-10 col-xs-offset-1 post-title">
							<h2>New Coaching Staff Hired</h2>
							<hr>
						</div>
					</div>
					<div class="col-xs-12 col-md-2">
						<%= image_tag("hungarycamp2014.jpg", :alt => "Hungary Training Camp", class:"post-img-main") %>
					</div>
					<div class="col-xs-12 col-md-10 left">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et nunc ut nulla mattis commodo. Nulla in sem libero. Fusce sit amet purus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque nec arcu consequat, euismod dui vitae, euismod tellus. Aenean velit odio, ultrices ut sodales sed, viverra nec nibh. Morbi a scelerisque mi. Pellentesque ante eros, convallis nec placerat non, luctus et lorem. Maecenas finibus elementum lorem, eget posuere metus tincidunt in. Praesent dignissim ipsum eros, sit amet tempor lorem interdum sit amet.<p>
					</div>
				</div>	
			</div>
			<div class="col-xs-12 news-item">
				<div class="jumbotron col-xs-12">
					<div class="post-header">
						<div class="col-xs-1">
							<div class="post-date">
								<p>20 Jul </br>2014</p>
							</div>
						</div>	
						<div class="col-xs-10 col-xs-offset-1 post-title">
							<h2>First Training Camp a Success!</h2>
							<hr>
						</div>
					</div>
					<div class="col-xs-12 col-md-2">
						<%= image_tag("hungarycamp2014.jpg", :alt => "Hungary Training Camp", class:"post-img-main") %>
					</div>
					<div class="col-xs-12 col-md-10 left">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et nunc ut nulla mattis commodo. Nulla in sem libero. Fusce sit amet purus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque nec arcu consequat, euismod dui vitae, euismod tellus. Aenean velit odio, ultrices ut sodales sed, viverra nec nibh. Morbi a scelerisque mi. Pellentesque ante eros, convallis nec placerat non, luctus et lorem. Maecenas finibus elementum lorem, eget posuere metus tincidunt in. Praesent dignissim ipsum eros, sit amet tempor lorem interdum sit amet.<p>
					</div>
				</div>	
			</div>
		</div>	
	</div>
</div>
<div class="jumbotron center no-margin-top", id="events"> <!-- Events -->
	<h2>Upcoming Events</h2>
</div>
<div class="jumbotron center no-margin-top", id="teams"> <!-- Teams -->
	<div class="container">
		<h2 class="title">Teams</h2>
			<div class="container center">
				<div class="row">
					<div class="col-lg-6">
						<!-- Ultimately want to do this dynamically from a database XXXX-->
							<%= link_to image_tag("budapestblaxlacrosse.png", :alt => "Budapest Blax"), "http://www.budapestblax.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
							<h3>Budapest Blax Lacrosse</h3>
					</div>
					<div class="col-lg-6">
						<%= link_to image_tag("blackberrieslacrosse.png", :alt => "Blackberries"), "http://www.blackberries.hu", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
						<h3>Budapest Blackberries Lacrosse</h3>
					</div>
				</div>
			</div>
	</div>	
</div>
<div class="jumbotron center no-margin-top", id="sponsors"> <!-- Sponsors -->
	<h2 class="title">Support our Sponsors</h2>
	<div class="container center">
		<div class="row">
			<div class="col-lg-4">
					<%= link_to image_tag("heros-logo_1.gif", :alt => "Heros Lacrosse"), "http://www.heroslacrosse.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
			</div>
			<div class="col-lg-4">
					<%= link_to image_tag("sj-logo-yellow3.jpg", :alt => "Stan and Joe's"), "http://www.stanandjoessaloon.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
			</div>
			<div class="col-lg-4">
					<%= link_to image_tag("markedpromotions.png", :alt => "Marked Promotions"), "http://www.markedpromo.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
					<%= link_to image_tag("sanders_logo.jpg", :alt => "The Sanders Company"), "http://www.thesanderscompany.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
			</div>
			<div class="col-lg-4">
					<%= link_to image_tag("townetransport1.png", :alt => "Towne Transport"), "http://www.townetransport.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
			</div>
			<div class="col-lg-4">
					<%= link_to image_tag("bayarea3.png", :alt => "Bay Area Disposal"), "http://www.bayareadisposal.com", {class: "hvr-float-shadow sponsor-logo", target: "_blank"} %>
			</div>
		</div>
	</div>
</div>	
<!-- <div class="jumbotron center no-margin-top", id="contact">  --><!-- Contact Us -->
	<!-- <h2>Contact Us</h2>
	<h3>Want to Join? Interested in a Sponsorship? Drop us a line.</h3>
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<%= render 'contacts/new' %>
			</div>	
			<div class="col-lg-6">
				<h4>Map</h4>
			</div>	
		</div>	
	</div>	
</div> -->