<% title "Men's National Team" %>
<% content_for :head_top do %>
	<meta charset="UTF-8">
	<meta name="description" content="Staff and Roster for the Mens National Team">
	<meta name="keywords" content="National, Team, Hungary, Coaches, Players, Roster">
<% end %>
<% content_for :head_end do %>
<% end %>
<% content_for :body_top do %>
<% end %>
<% content_for :body_end do %>
<% end %>

<div class="container">
	<div class="jumbotron" id="mensnationalteam">
		<h2 class="section-title"><%= yield(:title) %></h2>
		<div class="row"> <!-- Staff -->
			<hr>
			<h3 class="center"><strong>Staff</strong></h3>
			<div class="jumbotron col-xs-12 col-md-6 col-lg-3">
				<%= image_tag("noimg.png", :alt => "Head Coach", class:"staff-img") %>
				<h4 class="center"><strong>Ricky Schwartzburg</strong></h4>
				<h4 class="center">Head Coach</h4>
			</div>
			<div class="jumbotron col-xs-12 col-md-6 col-lg-3">
				<%= image_tag("noimg.png", :alt => "Offensive Coordinator", class:"staff-img") %>
				<h4 class="center"><strong>Mark Goers</strong></h4>
				<h4 class="center">Offensive Coordinator</h4>
			</div>
			<div class="jumbotron col-xs-12 col-md-6 col-lg-3">
				<%= image_tag("noimg.png", :alt => "Defensive Coordinator", class:"staff-img") %>
				<h4 class="center"><strong>Tim Berquist</strong></h4>
				<h4 class="center">Defensive Coordinator</h4>
			</div>
			<div class="jumbotron col-xs-12 col-md-6 col-lg-3">
				<%= image_tag("noimg.png", :alt => "Team Manager", class:"staff-img") %>
				<h4 class="center"><strong>Carl Starkey</strong></h4>
				<h4 class="center">Team Manager</h4>
			</div>	
		</div>	
		<hr>
		<div class="row"> <!-- Roster -->
			<h3 class="center"><strong>Roster</strong></h3>
			<div class="table-responsive">
				<table class="table table-condensed center"> <!-- XXXX responsive team generated here -->
					<tr>
						<th> </th>
						<th>Number</th>	
						<th>Name</th>	
						<th>Position</th>	
						<th>Club</th>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>1</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>2</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>3</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>4</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>5</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>6</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>7</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>8</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>9</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>10</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>11</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>12</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>13</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>14</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>15</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>16</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>17</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>18</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>19</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>20</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>21</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>22</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>23</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
					<tr>
						<td><%= image_tag("noimg.png", :alt => "Player Image", class:"player-img") %></td>
						<td>24</td>
						<td>David Urban</td>
						<td>Attack</td>
						<td>Budapest BLAX</td>
					</tr>
				</table>
			</div>	
		<div>	
	</div>
</div>	