<div class="row"> <!-- Roster -->
	<h3 class="center"><strong>Roster</strong></h3>
	<div class="table-responsive">
		<table class="table table-condensed center"> <!-- XXXX responsive team generated here -->
			<tr>
				<th> </th>
				<th>Number</th>	
				<th>Name</th>	
				<th>Position</th>	
				<th>Club</th>
			</tr>
			<% @players.each do |player| %>
				<tr>
					<td><%= image_tag("noimg.png", :alt => player.name + " Player Image", class:"player-img") %></td>
					<td><%= player.number %></td>
					<td><%= player.name %></td>
					<td><%= player.position %></td>
					<td><%= player.club %></td>
				</tr>
			<% end %>
		</table>
	</div>	
<div>	