<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Hungarian Lacrosse Association", root_path, class: "navbar-brand cursive primary-color" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "News", root_path(anchor:"news") %></li>
        <li><%= link_to "Teams", root_path(anchor:"teams") %></li>
        <li><%= link_to "Events", root_path(anchor:"events") %></li>
        <li><%= link_to "Sponsors", root_path(anchor:"sponsors") %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">National Team <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Eligibility Requirements", eligibility_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Men's National Team", nationalteam_path %></li>
          </ul>
        </li>    
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Association <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Contact", contact_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "About Us", association_path %></li>
            <li><%= link_to "History", association_path(anchor:"history") %></li>
            <li><%= link_to "Executive Board", association_path(anchor:"board") %></li>
            <li><%= link_to "Media", association_path(anchor:"media") %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Hungarian Lacrosse Foundation", "http://www.hungarianlacrosse.com", target: "_blank" %></li>
          </ul>
        </li>    
<!--  Removed until login is required
       <% if user_signed_in? %>s
          <li><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li> 
        <% else %>
          <li><%= link_to "Contact Us", root_path(anchor:"contact") %></li>
          <li><button type="button" class="btn btn-default navbar-btn"><%= link_to "Sign In", new_user_session_path %></li></button>
       <% end %>  -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>